    html,
    body {
        position: relative;
        height: 100%;
    }
    
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
    }
    
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    
    .slide1-banner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .slide1-banner img {
        display: inline-block;
        vertical-align: middle;
    }
    
    .banner1 {
        background-image: url(../images/banner1_bg.png);
    }
    
    .banner2 {
        background-image: url(../images/banner2_bg.png);
    }
    
    .header {
        position: absolute;
        top: 0;
        z-index: 9;
        height: 58px;
        line-height: 58px;
        display: flex;
        justify-content: space-between;
        color: #fff;
        margin-top: 46px;
    }
    
    .header-btn {
        cursor: pointer;
        width: 184px;
        border-radius: 4px;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        border: 1px solid #fff;
    }
    
    .header-btn:hover {
        background: #fff;
        border: none;
        color: #5252CC;
    }
    
    .header-name {
        font-size: 20px;
        font-weight: 600;
        display: flex;
    }
    
    .header-name img {
        height: 56px;
    }
    
    .header-name .iconfont {
        font-size: 36px;
    }
    
    .page-title {
        font-size: 50px;
        font-weight: 600;
    }
    
    .shackIntitle {
        animation: shakeIn 1000ms;
    }
    
    .shackIntitlemin {
        animation: shakeInMin 1000ms;
    }
    
    @keyframes shakeIn {
        0% {
            transform: translateX(-600px)
        }
        100% {
            -webkit-transform: translateX(0px);
        }
    }
    
    @keyframes shakeInMin {
        0% {
            transform: translateY(600px)
        }
        100% {
            transform: translateY(0)
        }
    }
    
    .page-title-en {
        font-size: 50px;
        font-weight: 200;
        color: #5252CC;
        opacity: .1;
        margin-top: -18px;
        margin-bottom: 18px;
    }
    
    .slide2-left,
    .slide5-left {
        text-align: left;
    }
    
    .slide2-left ul {
        position: fixed;
        z-index: 99;
    }
    
    .slide2-tab {
        background: rgba(240, 242, 245, 1);
        border-radius: 8px;
        margin-bottom: 16px;
        padding: 16px 20px;
        font-size: 16px;
        width: 320px;
        white-space: nowrap;
        cursor: pointer;
    }
    
    .slide2-tab:hover {
        background: #5252CC;
        color: #fff;
    }
    
    .slide2-tab-active {
        background: #5252CC;
        color: #fff;
    }
    
    .slide2-div {
        display: none;
        padding: 40px;
        box-shadow: 0px 0px 20px 0px rgba(41, 45, 51, 0.2);
        border-radius: 8px;
        text-align: left;
        color: #292D33;
    }
    
    .slide2-div-min,
    .slide3-div-min {
        width: 100%;
        padding: 40px;
        border-radius: 8px;
        text-align: left;
        color: #292D33;
        display: block;
    }
    
    .slide3-div-min .iconfont {
        font-size: 90px;
        color: rgba(82, 82, 204, .05);
        margin-bottom: 20px;
    }
    
    .slide3-div-min .slide3-div-min-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .slide3-div-min .slide3-div-min-title img {
        margin-left: 12px;
    }
    
    .swiper-container-slide2,
    .swiper-container-slide3 {
        box-shadow: 0px 0px 20px 0px rgba(41, 45, 51, 0.2);
    }
    
    .slide2-div-active {
        display: block;
    }
    
    .slide2-div img,
    .slide2-div-min img {
        width: 100%;
    }
    
    .slide2-div-title {
        font-size: 28px;
        font-weight: 600;
        margin-top: 29px;
        margin-bottom: 11px;
        line-height: 32px;
    }
    
    .slide2-div-desc {
        font-size: 14px;
        line-height: 28px;
    }
    
    .slide2-div-book {
        font-size: 14px;
        margin-top: 40px;
    }
    
    .slide3-div {
        height: 100vh;
        text-align: left;
        padding: 190px 30px;
        border-left: 1px solid #E6E8EB;
    }
    
    .slide3-left {
        height: 100vh;
        text-align: left;
        padding: 190px 30px;
    }
    
    .slide3-left img {
        float: right;
        margin-right: 44px;
    }
    
    .slide3-div .iconfont {
        font-size: 90px;
        color: rgba(82, 82, 204, .05);
        margin-bottom: 50px;
    }
    
    .slide3-div img {
        width: 100%;
        margin: 20px 0;
    }
    
    .slide3-div:hover .iconfont {
        /* transform: scale(1.1); */
        color: rgba(82, 82, 204, .1);
    }
    
    .slide3-div:hover img {
        box-shadow: 0px 0px 20px 0px rgba(12, 71, 160, 0.1);
    }
    
    .slide3-div-gover {
        font-size: 12px;
        color: #7A8799;
        margin-bottom: 20px;
    }
    
    .slide3-div-tips {
        font-size: 18px;
        font-weight: 600;
        color: #292933;
        margin-bottom: 12px;
        line-height: 24px;
    }
    
    .slide3-div-desc {
        font-size: 14px;
        color: #292933;
        line-height: 28px;
    }
    
    .slideAdd2,
    .slideAdd1 {
        text-align: left;
    }
    
    .slideAdd1 {
        background-image: url(../images/add1_bg.png);
        background-size: 100% 100%;
    }
    
    .slideAdd2 {
        background-image: url(../images/add2_bg.png);
        background-size: 100% 100%;
    }
    
    .slideAdd2 .container {
        background-image: url(../images/add2_bg2.png);
        background-size: 100% 100%;
        padding: 60px;
        color: #fff;
    }
    
    .slideAdd2 .page-title-en {
        color: #fff;
    }
    
    .slideAdd1-div {
        display: flex;
        margin-left: 20px;
        margin-top: 70px;
    }
    
    .slideAdd1-item {
        width: 420px;
        padding: 30px;
        box-shadow: 0px 0px 20px 0px rgba(41, 41, 51, 0.1);
        border-radius: 8px 0px 0px 8px;
        margin-left: -20px;
        background: #fff;
    }
    
    .slideAdd1-item:hover {
        box-shadow: 0px 0px 20px 0px rgba(41, 41, 51, 0.2);
    }
    
    .slideAdd1-item:hover .iconfont {
        opacity: .1;
    }
    
    .slideAdd1-item .iconfont {
        font-size: 64px;
        color: #5252CC;
        opacity: .05;
    }
    
    .slideAdd1-item-title {
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 36px;
        font-weight: 600;
    }
    
    .slideAdd1-item-desc {
        font-size: 14px;
        line-height: 28px;
    }
    
    .slideAdd1-tips {
        font-size: 18px;
        font-weight: 600;
        color: #CC5252;
        margin-top: 40px;
    }
    
    .slideAdd2-desc {
        margin-top: 54px;
        margin-bottom: 10px;
        line-height: 36px;
        font-size: 18px;
        font-weight: 600;
    }
    
    .slideAdd2-item {
        width: fit-content;
        line-height: 28px;
        font-size: 14px;
        margin-top: 20px;
        background: rgba(255, 255, 255, .08);
        border-radius: 5px;
        padding: 8px 16px;
    }
    /* .slideAdd2-item:hover {
        background: rgba(255, 255, 255, .18);
    } */
    
    .slide4-max {
        display: block;
        position: relative;
    }
    
    .slide4-min {
        display: none;
    }
    
    .slide4-div {
        position: absolute;
        top: 116px;
        left: 80px;
        text-align: left;
        color: #fff;
    }
    
    .slide4-div .page-title {
        margin-bottom: 80px;
    }
    
    .slide4-div .page-title-en {
        color: #fff;
        margin-left: -10px;
    }
    
    .slide5 {
        background: url(../images/p5_bg.png);
        background-size: 100% 100%;
    }
    
    .slide5 .row,
    .slide2 .row,
    .slide3 .row {
        display: block;
    }
    
    .header-name-text {
        display: block;
    }
    
    .slide5-left-desc {
        width: 70%;
        font-size: 18px;
        font-weight: 600;
        color: #363A40;
        line-height: 28px;
        margin: 20px 0;
    }
    
    .slide5-left-div {
        width: 140px;
        border-radius: 2px;
        border: 1px solid rgba(230, 232, 235, 1);
        padding: 20px;
        margin-right: 20px;
        text-align: center;
    }
    
    .slide5-left-div:hover {
        box-shadow: 0px 0px 20px 0px rgba(41, 45, 51, 0.2);
    }
    
    .slide5-left-div .iconfont {
        font-size: 40px;
        color: #2E2EE6;
        margin-bottom: 6px;
    }
    
    .slide5-left-div .icon-arrow-down {
        color: #525A66;
        font-size: 14px;
        margin: 20px;
    }
    
    .slide5-left-text1 {
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
    }
    
    .slide5-left-text2 {
        font-size: 12px;
        color: #2E2EE6;
    }
    
    .slide5-div {
        display: block;
        width: 100%;
        height: 100%;
        /* background: rgba(255, 255, 255, 1); */
        /* box-shadow: 0px 0px 20px 0px rgba(41, 45, 51, 0.1); */
        /* border-radius: 2px; */
        text-align: left;
        overflow: hidden;
    }
    /* .slide5-min {
        display: none;
    } */
    
    .slide5-div .iconfont {
        color: #5252CC;
        opacity: .05;
        font-size: 90px;
        display: inline-block;
        margin-bottom: 44px;
    }
    
    .slide5-div .icon-dun {
        font-size: 160px;
        margin-left: -30px;
        margin-top: -30px;
    }
    
    .slide5-div .icon-num {
        float: right;
        margin-top: 30px;
    }
    
    .slide5-div-title {
        padding: 24px 30px;
        font-weight: 600;
        font-size: 20px;
    }
    
    .slide5-div-desc {
        padding: 24px 30px;
        font-size: 14px;
        line-height: 28px;
    }
    
    .swiper-container-slide5 {
        background: #fff;
        box-shadow: 0px 0px 20px 0px rgba(41, 45, 51, 0.1);
    }
    
    .slide5-control {
        display: block;
        color: #fff;
        font-weight: 600;
        line-height: 30px;
        font-size: 20px;
        margin-top: 155px;
    }
    
    .slide5-control .iconfont {
        width: 44px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        border-radius: 50%;
        border: 1px solid #fff;
        margin: 20px auto;
    }
    
    .swiper-prev:hover,
    .swiper-next:hover {
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
    }
    
    .slide6 {
        background: url(../images/p6_bg.png);
        background-size: 100% 100%;
        display: flex;
    }
    
    .slide6 .container {
        display: flex;
    }
    
    .slide6-title {
        padding-top: 208px;
        color: #fff;
        text-align: left;
    }
    
    .slide6-title .page-title-en {
        color: #fff;
    }
    
    .slide6 img {
        display: block;
        margin-left: -200px;
        margin-right: 6px;
        padding: 20px 0;
    }
    
    .slide6-div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .slide6-item {
        display: flex;
        text-align: left;
        /* cursor: pointer; */
    }
    /* .slide6-item:hover {
        transform: scale(1.04);
        margin-left: 16px;
    } */
    
    .slide6-item .iconfont {
        padding: 0 16px;
        line-height: 60px;
        text-align: center;
        margin-right: 20px;
        font-size: 30px;
        border-radius: 50%;
        color: #fff;
        box-shadow: 0px 0px 20px 0px rgba(46, 46, 230, 0.2);
    }
    
    .slide6-item1 .iconfont {
        background: #5500CC;
        margin-left: -110px;
    }
    
    .slide6-item2 .iconfont {
        background: #2200CC;
        margin-left: -40px;
    }
    
    .slide6-item3 .iconfont {
        background: #0011CC;
    }
    
    .slide6-item4 .iconfont {
        background: #3355FF;
        margin-left: -40px;
    }
    
    .slide6-item5 .iconfont {
        background: #3388FF;
        margin-left: -110px;
    }
    
    .slide6-item-name {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    
    .slide6-item-desc {
        font-size: 14px;
    }
    
    .slide7 {
        background: url(../images/p7_bg2.png);
        background-size: 100% 100%;
    }
    
    .slide7-left {
        text-align: left;
    }
    
    .swiper-container-7 .swiper-slide {
        background: transparent;
    }
    
    .swiper-container-7 img {
        width: 100%;
    }
    
    .swiper7-control {
        position: absolute;
        top: 310px;
        left: 40px;
        z-index: 9;
        display: flex;
    }
    
    .swiper7-control .iconfont {
        width: 44px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        color: #5252CC;
        font-size: 12px;
        margin-right: 20px;
        background: rgba(255, 255, 255, 1);
        border-radius: 50%;
        opacity: 0.6;
    }
    
    .swiper7-control .iconfont:hover {
        scale: 1.2;
        font-size: 14px;
        font-weight: 600;
    }
    
    .slide7-div {
        position: relative;
        display: block;
    }
    
    .slide7-div-text {
        position: absolute;
        top: 300px;
        left: 80px;
        width: 180px;
        text-align: left;
        color: #fff;
        font-size: 14px;
        line-height: 24px;
    }
    
    .slide7-div-text-title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 16px;
    }
    
    .footer {
        position: absolute;
        bottom: 20px;
    }
    
    .footer .container {
        display: flex;
        justify-content: center;
    }
    
    .footer-name {
        color: #5252CC;
        font-size: 14px;
        font-weight: 600;
    }
    
    .footer-name .iconfont {
        font-size: 24px;
    }
    
    .footer-phone {
        font-size: 16px;
        font-weight: 600;
    }
    
    .footer-filing {
        font-size: 13px;
        color: #7A8799;
    }
    /* .slide2-min, */
    
    .slide3-min {
        display: none;
        /* padding: 0 50px; */
        text-align: left;
    }
    
    .slide7-div,
    .slide6 img,
    .slide3-left img,
    .slide2 .row,
    .slide3 .row,
    .slide5-control,
    .slide4-max {
        display: block;
    }
    
    .header-name-text {
        display: block;
    }
    /* .slide2-min, */
    /* .slide2-min .slide2-div, */
    
    .slide3-min,
    .slide4-min {
        display: none;
    }
    
    @media screen and (max-width: 1200px) {
        .slide7-div-text {
            left: 20px;
        }
        .slide6 img {
            margin-left: -320px;
        }
        .slide7-div,
        .slide6 img,
        .slide3-left img,
        .slide2 .row,
        .slide3 .row,
        .slide5-control,
        .slide4-max {
            display: block;
        }
        .header-name-text {
            display: block;
        }
        /* .slide2-min,
        .slide2-min .slide2-div, */
        .slide3-min,
        .slide4-min {
            display: none;
        }
    }
    
    @media screen and (max-width: 991px) {
        /* .swiper-container-0 {
        display: none;
    } */
        .slide7-div,
        .slide6 img,
        .slide2-left ul,
        .slide3-left img,
        .slide3 .row,
        .slide5-control,
        .slide4-max,
        .header-name-text,
        .slide5-left .row {
            display: none;
        }
        /* .slide2-min,
        .slide2-min .slide2-div, */
        .slide3-min,
        .slide4-min,
        .slide6 .container,
        .footer .container {
            display: block;
        }
        .slide6,
        .slide5,
        .slide7 {
            background: #fff;
            padding: 50px;
        }
        .slideAdd2 .container {
            padding: 0;
            background: none;
        }
        .slideAdd2 {
            background: #fff;
            background-image: url(../images/add2_bg2.png);
            background-size: 100% 100%;
        }
        .slide6 .page-title {
            color: #292D33;
        }
        .slide6 .page-title-en {
            color: #5252CC;
        }
        .slide6-title {
            padding: 0;
        }
        .slide6-item {
            margin-bottom: 20px;
        }
        .slide6-item1 .iconfont,
        .slide6-item2 .iconfont,
        .slide6-item3 .iconfont,
        .slide6-item4 .iconfont,
        .slide6-item5 .iconfont {
            margin-left: 0;
            margin-bottom: 20px;
        }
        .footer-phone {
            margin-bottom: 15px;
        }
        .slide1-banner img {
            width: 80%;
        }
        /* .header,
        .slide2 .row {
            padding: 0 50px;
        } */
        .slide4 {
            background-image: url(../images/p4_bg2.png);
            background-size: 100% 100%;
        }
        .slide4-min {
            /* padding: 0 50px; */
            color: #fff;
        }
        .slide4-min .page-title,
        .slide4-min .page-title-en {
            text-align: left;
            color: #fff;
        }
        .slide5-min .page-title,
        .slide5-min .page-title-en,
        .slide5-min .slide5-left-desc {
            text-align: left;
        }
        .slide5 {
            background-image: url(../images/p4_bg2.png);
            background-size: 100% 50%;
            background-position-y: bottom;
            background-repeat: no-repeat;
        }
        .slide7 {
            background-image: url(../images/p7_bg3.png);
            background-size: 100% 50%;
            background-position-y: 105%;
            background-repeat: no-repeat;
        }
        .footer-phone,
        .footer-filing {
            color: #fff;
        }
    }
    
    @media screen and (max-width: 768px) {
        body {
            font-size: 22px;
        }
        .slide3-div-gover {
            font-size: 20px;
        }
        .slide2-div-desc,
        .slide3-div-desc,
        .slideAdd1-item-desc,
        .slideAdd2-item,
        .slide5-div-desc,
        .slide6-item-desc,
        .footer-phone {
            font-size: 22px;
            line-height: 32px;
        }
        .slide2-div-book {
            font-size: 22px;
        }
        .footer-filing {
            font-size: 16px;
        }
        .slide3-div-tips,
        .slideAdd1-item-title,
        .slideAdd2-desc,
        .slide5-left-desc,
        .slide5-div-title,
        .slide6-item-name {
            font-size: 26px;
            line-height: 36px;
        }
        .slideAdd1-item-title {
            min-height: 252px;
        }
        .card-div .card-stack {
            height: 600px !important;
        }
        .slide6-item .iconfont {
            height: 62px;
        }
        .shackIntitlemin,
        .shackIntitle {
            animation: none;
        }
    }