.card-div {
    overflow: hidden;
    padding-left: 10px;
}

.card-div .card-stack {
    width: 500px;
    height: 450px;
    position: relative;
    margin: 20px auto;
}

.card-div .card-stack .buttons {
    position: absolute;
    background: rgba(0, 0, 0, 0.46);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    left: 0;
    right: 55%;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 22px;
    z-index: 100;
    outline: none;
    transition: all 0.2s ease;
}

.card-div .card-stack .prev {
    left: 15px;
    right: auto;
}

.card-div .card-stack .next {
    left: auto;
    right: 15px;
}

.card-div .card-stack .card-list {
    width: 500px;
}

.card-div .card-stack .card-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in-out;
    border-radius: 10px;
    position: absolute;
    list-style: none;
    height: 450px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(41, 45, 51, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(41, 45, 51, 0.1);
    background: #fff;
}

.card-div .card-stack .card-list li:nth-child(1) {
    right: 0;
    height: 100%;
}

.card-div .card-stack .card-list li:nth-child(2) {
    right: 40px;
    height: 100%;
}

.card-div .card-stack .card-list li:nth-child(3) {
    right: 80px;
    height: 100%;
}

.card-div .card-stack .card-list li:nth-child(4) {
    right: 120px;
    height: 100%;
}

.card-div .card-stack .card-list li:nth-child(5) {
    right: 160px;
    height: 100%;
}

.card-div .card-stack .card-list li:nth-child(6) {
    right: 200px;
    height: 100%;
}

.transformThis {
    animation: scaleRight 500ms;
}

.transformPrev {
    animation: scaleLeft 100ms;
    display: none;
}

@keyframes scaleRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    /* 20% {
        opacity: 0.1;
    } */
    /* 40% {
        opacity: 0.2;
    } */
    /* 60% {
        opacity: 0.4;
        transform: scale(0.7);
    } */
    /* 80% {
        opacity: 0.8;
    } */
    100% {
        opacity: 0;
        transform: translateX(-260px);
    }
}

@keyframes scaleLeft {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0.8;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.2;
    }
    80% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes scaleCard {
    0% {
        right: 5px;
    }
    100% {
        right: 24px;
    }
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(40px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        transform: translateX(0);
    }
}

@media (min-width: 991px) and (max-width: 1200px) {
    .card-div .card-stack,
    .card-div .card-stack .card-list {
        width: 375px;
        margin-left: 20px;
    }
    .card-div .card-stack .card-list li:nth-child(1) {
        right: 0;
        height: 100%;
    }
    .card-div .card-stack .card-list li:nth-child(2) {
        right: 15px;
        height: 100%;
    }
    .card-div .card-stack .card-list li:nth-child(3) {
        right: 30px;
        height: 100%;
    }
    .card-div .card-stack .card-list li:nth-child(4) {
        right: 45px;
        height: 100%;
    }
    .card-div .card-stack .card-list li:nth-child(5) {
        right: 60px;
        height: 100%;
    }
    .card-div .card-stack .card-list li:nth-child(6) {
        right: 75px;
        height: 100%;
    }
    .transformPrev {
        animation: scaleLeft 300ms;
        display: none;
    }
}